* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(60, 61, 63);
    color: antiquewhite;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 5vh;
}

h3 {
    margin-top: 5vh;
}

#editor {
    margin-top: 1vh;
    padding: 10px 10px 10px 10px;
    flex: 1;
    height: 75vh;
    background-color: rgb(26, 26, 26);
    color: white;
}