* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(60, 61, 63);
    color: antiquewhite;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    margin-top: 5vh;
}

.window {
    height: 100vh;
}

#editor {
    padding: 10px 10px 10px 10px;
    flex: 1;
    height: 75vh;
    background-color: rgb(26, 26, 26);
    color: white;
    border-bottom: 10px;
    border-style: solid;
    border-color: rgb(95, 74, 168);
}

.upper-container {
    padding: 5px 10px 5px 10px;
    display: flex;
    height: 3vh;
    position: relative;
    background-color: rgb(72, 56, 129);
}

#convert {
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
    margin-left: calc(65vw);
}

.content {
    color: #333;
}

  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: rgb(72, 56, 129);
    margin: 80px 0;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid rgb(72, 56, 129);
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: rgb(72, 56, 129);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: rgb(72, 56, 129);
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    color: #333;
  }
  
@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
}

.btn-container {
    margin-top: 3vh;
    text-align: center;
}

#editor:focus{
    outline: none;
}